@layer reset, material, taiga, app;

@import (css) url('@angular/material/prebuilt-themes/indigo-pink.css') layer(material);
@import (css) url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap') layer(taiga);

@layer taiga {
  @import (less) '@taiga-ui/styles/taiga-ui-theme.less';
}

@layer app {
  html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
}
