<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-brand">Drivovo Admin</div>
    <mat-nav-list>
      <a mat-list-item routerLink="/cars" routerLinkActive="active-link">
        <mat-icon matListItemIcon>directions_car</mat-icon>
        <span matListItemTitle>Cars</span>
      </a>
      <a mat-list-item routerLink="/tariffs" routerLinkActive="active-link">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        <span matListItemTitle>Tariffs</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="toolbar-title">Drivovo Admin</span>
      <span class="spacer"></span>
      @if (authStore.admin(); as admin) {
        <span class="admin-name">{{ admin.name }}</span>
      }
      <button mat-icon-button (click)="onSignOut()" title="Sign out">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
